.env
node_modules/
bridge-state.json
mods/chatbridge/.gradle/
mods/chatbridge/build/
mods/chatbridge/.idea/
mods/chatbridge/run/
mods/statsbridge/.gradle/
mods/statsbridge/build/
mods/statsbridge/.idea/
mods/statsbridge/run/
